<h1 class='title'>今PAAKにいるメンバー</h1>

<div id='user-board'>
  <div id='spinner_container' class='spinner user-card'>
    <div></div>
    <p>Loading . . .</p>
  </div>
</div>

<div class='clearfix'></div>