/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: #555;
  &:hover {
    color: #222;
    background-color: transparent;
  }
  &:visited {
    color: inherited !important;
  }
}

/* header */

#logo {
  margin-right: 25px;
  font-size: 1.2em;
  color: #fff;
  padding: 17px;
  font-weight: bold;
  line-height: 1;
  &:active, &:selected{
    text-decoration: none;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding: 5px 0 0;
  border-top: 1px solid #eaeaea;
  color: #999;

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* others */

p {
  &.main-notification {
    padding: 10px;
  }
  &.sub-notification {
    padding:  5px 10px;
  }
}

h1, h2, h3, h4, p {
  &.title {
    font-size: 28px;
    color: #777;
    margin: 10px 0px 20px;
  }
  &.sub-title {
    font-size: 20px;
    color: #999;
    margin: 10px 0;
  }
  &.content {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
  }
}

.devise-links {
  padding: 20px 0px;
}

form {
  &.form-normal {
    max-width: 600px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

textarea {
  box-sizing: border-box;
  max-height: 300px; /* optional, but recommended */
  min-height: 94px;
  overflow-x: hidden; /* for Firefox (issue #5) */
  resize: none;
}

.fa {
  margin-right: 10px;
}

.form-has-many {
  min-width: 80%;
}

#error_explanation {
  padding: 10px 20px;
  margin-bottom: 10px;
  h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  ul {
    margin: 0;
  }
}

.marked_for_destruction {
  display: none;
}

.record-search-form {
  display: inline-block;
  padding: 0 30px;
}

.record-form {
  margin-bottom: 20px;
}

.record-code {
  text-align: center;
  font-weight: 600;
}

.records-table {
  &.table {
    tbody > tr > td {
      line-height: 34px;
    }
  }
}

.user-image-container, .project-image-container {
  text-align: center;
  margin: 20px 0;
  width: 300px;
  height: 300px;
}

.project-image {
  width: 300px;
  height: 300px;
}

.project-summary {
  max-width: 400px;
}

.user-profile, .project-profile {
  float: left;
  padding: 20px;
}
