<footer class='footer'>
  <small>
    <%= link_to 'TECH LAB PAAK', 'http://techlabpaak.com/' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About',   'http://techlabpaak.com/about' %></li>
      <li><%= link_to 'Contact', 'http://techlabpaak.com/contact' %></li>
    </ul>
  </nav>
</footer>